


    .event
        background-image: url(../images/testimonials-bg.jpg)
        background-repeat: no-repeat
        background-size: 100vw
        height: 80vh
    .carousel-item2
        margin-left: 10vw 
        img
            width: 40vw !important
    .carousel-indicators1
        position: absolute
        bottom: -70px
        button
            width: 20px !important
            height: 20px !important
            border-radius: 50%
            background-color: #ffb03b !important
    .prix-event
        border-bottom: 2px solid #ff933b
        width: 90px
    .filtr-evnt
        height: 80vh
        background-color: #000000d5

        

        
        
        
   
            