

    .img-form
        background-color: #f9f9f9
        width: 80vw
        height: 80vh 
        display: flex
        
        input
            width: 17vw
            height: 8vh
            padding: 15px
            outline-color: #fd7e14
            border: 1px solid #dfdfdf
           
                
                
        textarea 
            width: 53.5vw
            padding: 17px
            outline-color: #fd7e14
            border: 1px solid #dfdfdf
        button
            color: white
            background-color: #fd7e14
            padding: 10px 50px
            border: none
            border-radius: 4px
            &:hover
                background-color:#fd7d14a8
        
    .form-control
        width: 17vw !important
        border-radius: none !important
        outline-color: #fd7e14 !important
        
     
    textarea
        height: 20vh
        width: 62.5vw
    .tchild-img-form
        
        width: 40% 
        height: 100%
        background-image: url(../images/chefs-bg.jpg)
        background-position: center
        background-size: cover