
nav
    height: 10vh
    width: 100vw
    position: fixed
    top: 0px
    left: 0px
    animation: navbar
    animation-timeline: scroll()
    z-index: 9999
    .logo
        img
            width: 10vw 
.pos
    position: relative
    z-index: 61
        

@keyframes navbar 
    
    0%
        background-color: transparent
    10%
        background-color: #000000ec
    


    
    100%
        background-color: #000000d8

.links
    a
        text-decoration: none
        color: #f3f2f2
        &:hover
            color: #ec9a1d
.carousel-item1
    img
        width: 100vw
        height: 100vh
        filter: opacity(0.5)
    .descreption-carusel
        z-index: 10
        left: 50%
        top: 50%
        transform: translate(-50% , -50%)
        display: flex
        flex-direction: column
        align-items: center
        h2
            color: white
            font-size: 45px
            span
                color: #ec9a1d
        p
            color: white
        button
            border: 2px solid #ec9a1d
            
            padding:10px 30px
            border-radius: 30px
            background-color: transparent
            color: white
            transition: 0.5s
            &:hover
                background-color: #ec9a1d
.menu-navl
    display: none
    i
            font-size: 25px !important
.menu-nav
    display: none
.closer-nav
    display: none
    
@media   ( max-width:425px  )
    .links
        position: absolute
        background-color: white
        width: 90vw
        height: 80vh
        top: -200vw
        flex-direction: column
        align-items: unset !important
        padding: 15px 15px 15px 25px
        border-radius: 10px
        
        a
            color: black
    .menu-nav
        display: none
        
    .menu-navl
     display: block
    .closer-nav
        display: block
        position: absolute
        right: 0px
        top:  -60px
        i
            font-size: 40px
    #menu-nav
        &:checked + .links
            top: 70px
        &:checked ~ .menu-navl
            display: none
    .descreption-carusel
        button
            width: 164px !important
        h2
            font-size: 35px !important
        p
            text-align: center !important
    nav
        display: flex !important
        justify-content: space-between !important
    .logo
        img
            width: 20vw !important
    .buton-nav
        flex-direction: column !important


            
    



    


    
