nav
    height: 10vh
    width: 100vw
    position: fixed
    top: 0px
    left: 0px
    animation: navbar
    animation-timeline: scroll()
    z-index: 9999

@keyframes navbar 
    
    0%
        background-color: transparent
    

    30%
        background-color: #00000083
    
    100%
        background-color: #00000083

.links
    a
        text-decoration: none
        color: #f3f2f2
        &:hover
            color: #ec9a1d
.carousel-item
    img
        width: 100vw
        height: 100vh
        filter: opacity(0.5)


    
